/* body {
  color: fuchsia;
} */

.h1 {
  color: blue;
  background-color: black;
}



.title {
  color: magenta;
}

.TEST p {
  color: blue;
  border: solid;
}

.Tech,
.TEST {
  border: solid;
}

#Memory {
  border: solid;
  border-color: brown;
}

.New {
  margin-block-start: 1em;
  margin-block-end: 1em;
  color: red;
  border: solid;
}